canvas {
  display: block;
  position: absolute;
  width: 50%;
  height: 40%;
  left: 900px;
  top: 100px;
}
@media (max-width: 1536px) {
    canvas {
        left: 600px;
        top: 300px;
      }
}
@media (max-width: 1366px) {
    canvas {
        left: 600px;
        top: 200px;
      }
}
@media (max-width: 1200px) {
    canvas {
        left: 500px;
        top: 100px;
      }
}
@media (max-width: 980px) {
    canvas {
        left: 100px;
        top: 100px;
      }
}
@media (max-width: 768px) {
    canvas {
        display: none;
      }
}