@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* @font-face {
  font-family: 'Inter';
  font-weight: 100;
  src: url('/fonts/static/Inter-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 200;
  src: url('/fonts/static/Inter-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 300;
  src: url('/fonts/static/Inter-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('/fonts/static/Inter-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url('/fonts/static/Inter-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url('/fonts/static/Inter-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url('/fonts/static/Inter-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 800;
  src: url('/fonts/static/Inter-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 900;
  src: url('/fonts/static/Inter-Black.ttf') format('truetype');
} */



* {
  margin: 0;
  padding: 0;
}
  /* .performanceimgbg {
    background-image: url(../../public/performanceimgbg.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
  } */
.demoparent {
  background-image: url(../../public/wavebg1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.faq {
  background-image: url(../../public/faqbg.png);
  background-size: 100%;
  background-position: bottom right;
  background-repeat: no-repeat;
}
.career {
  background-image: url(../../public/careebg.png);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}
.blog {
  background-image: url(../../public/blogbg.png);
  background-position: bottom right;
  background-size: 60%;
  background-repeat: no-repeat;
}
.aboutbg {
  background-image: url(../../public/aboutbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.cardbg {
  background-image: url(../../public/cardsbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.pricebg {
  background-image: url(../../public/pricebg.png);
  background-position: top right;
  background-size: 50%;
  background-repeat: no-repeat;
}
.monbg {
  background-image: url(../../public/monbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.contact {
  background-image: url(../../public/replacevid.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.contact1 {
  background-image: url(../../public/wavebg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.positionbg {
  background-image: url(../../public/positionbg.png);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: bottom left;
}
.dangerbgimg {
  background-image: url(../../public/dangerbgimg.png);
  background-size: 80%;
  background-position:top right;
  background-repeat: no-repeat;
}
/* styles/globals.css */

.widthclass {
  max-width: 1440px;
  margin: 0 auto; /* Centers the content */
}

.black {
  color: #000000;
}
.white {
  color: #FFF;
}
.primaryblue {
  color: #042440;
}
.secondaryellow {
  color: #D9c666;
}
.gray {
  color: #666666;
}
.textcolor {
  color: #042440;
}
.paragraph {
  color: #000000;
  opacity: 60%;
}
.borderclass {
  border-top: none;
  border-bottom: 1px solid #042440;
  border-left: none;
  border-right: none;
}

.fontthin {
  font-family: 'Inter';
  font-weight: 100;
}
.fontextralight {
  font-family: 'Inter';
  font-weight: 200;
}
.fontlight {
  font-family: 'Inter';
  font-weight: 300;
}
.fontregular {
  font-family: 'Inter';
  font-weight: 400;
}
.fontmedium {
  font-family: 'Inter';
  font-weight: 500;
}
.fontsemibold {
  font-family: 'Inter';
  font-weight: 600;
}
.fontbold {
  font-family: 'Inter';
  font-weight: 700;
}
.fontextrabold {
  font-family: 'Inter';
  font-weight: 800;
}
.fontblack {
  font-family: 'Inter';
  font-weight: 900;
}

/* .herobg {
  animation: moveImage 4000ms ease-in-out 0s infinite alternate forwards;
  position: relative;
}

@keyframes moveImage {
  0% { left: 0; }
  50% { left: 50px; }
  100% { left: 0; }
} */




.font-96 {
  font-size: 96px;
}
.font-86 {
  font-size: 86px;
}
.font-80 {
  font-size: 805px;
}
.font-78 {
  font-size: 78px;
}
.font-72 {
  font-size: 72px;
}
.font-64 {
  font-size: 64px;
}
.font-60 {
  font-size: 60px;
}
.font-56 {
  font-size: 56px;
}
.font-48 {
  font-size: 48px;
}
.font-44 {
  font-size: 44px;
}
.font-40 {
  font-size: 40px;
}
.font-36 {
  font-size: 36px;
}
.font-32 {
  font-size: 32px;
}
.font-28 {
  font-size: 28px;
}
.font-26 {
  font-size: 26px;
}
.font-24 {
  font-size: 24px;
}
.font-20 {
  font-size: 20px;
}
.font-16 {
  font-size: 16px;
}
.font-14 {
  font-size: 14px;
}
.font-12 {
  font-size: 12px;
}

@media (max-width: 1440px) {
  .font-36 {
    font-size: 30px;
  }
}

@media (max-width: 1240px) {
  .font-64 {
    font-size: 58px;
}
.font-32 {
  font-size: 30px;
}
.font-20 {
  font-size: 18px;
}
.font-36 {
  font-size: 32px;
}
.font-24 {
  font-size: 20px;
}
.dangerbgimg {
  background-image: url(../../public/dangerbgimg.png);
  background-size: 70%;
  background-position: bottom right;
  background-repeat: no-repeat;
}
}
@media (max-width: 768px) {
  .font-64 {
    font-size: 48px;
}
.font-32 {
  font-size: 26px;
}
.font-36 {
  font-size: 28px;
}
.font-24 {
  font-size: 18px;
}
.font-40 {
  font-size: 30px;
}

.blog {
  background-size: cover;
}
.featurebg {
  background-size: 50%;
}
}

@media (max-width: 630px) {
  .font-64 {
    font-size: 40px;
} 
.font-32 {
  font-size: 22px;
}

}

@media  (max-width: 500px) {
  .font-64 {
    font-size: 27px;
}
.font-32 {
  font-size: 20px;
}
.font-20 {
  font-size: 16px;
}
.pricebg {
  background-image: none;
}
}
.featurebg {
  background-image: url(../../public/circlebg.png);
  background-position: center;
  background-size: 30%;
  background-repeat: no-repeat;
}



.card {
  position: relative;
  z-index: 1;
}

.card:hover {
  z-index: 50 !important;
}

.backdrop-blur-sm {
  backdrop-filter: blur(5px);
}


input {
  --tw-ring-color: #0000001F !important;
    box-shadow: #0000001F !important;
    border-color: #0000001F !important;
}
textarea {
  --tw-ring-color: #0000001F !important;
    box-shadow: #0000001F !important;
    border-color: #0000001F !important;
}

.custom-shadow {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.image {
  animation: animate 2s linear infinite;
}
@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}


.animated-path {
  animation: dash 5s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: -100;
  }
}